/* ================================
		RESET 
=================================== */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* ================================
		COLORS 
=================================== */
/* ================================
		BASE 
=================================== */
/* ================================
		ANIMATIONS 
=================================== */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ================================
		BASE ELEMENTS 
=================================== */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 2s;
}
h2 {
  font-size: 30px;
  text-align: center;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: normal;
}
p {
  font-size: 14px;
}
a {
  text-decoration: underline;
}
/* ================================
		FORMS 
=================================== */
textarea {
  width: 100%;
}
/* ================================
		SECTIONS 
=================================== */
header {
  font-family: 'Teko', sans-serif;
  margin: 15px 0;
}
[gutterContent] {
  padding: 20px 15px;
}
/* ================================
		ADMIN 
=================================== */
/* ================================
		LOGIN 
=================================== */
/* ================================
		NAVIGATION 
=================================== */
.feNavTbl table {
  margin-bottom: 10px;
}
/* ================================
		NAVIGATION 
=================================== */
/* ================================
		NAV 
=================================== */
nav {
  background-color: #000000;
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
}
nav a {
  display: block;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}
nav a:hover {
  background-color: #000000;
}
nav :after {
  content: "";
  display: table;
  clear: both;
}
nav ul:first-child {
  width: 100%;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  position: relative;
  display: table;
  text-align: center;
  width: auto;
}
nav ul li {
  margin: 0px;
  background-color: #000000;
  display: table-cell;
  width: 24%;
  padding: 0.65em 0.125em;
  white-space: nowrap;
  position: relative;
}
nav ul li:hover > ul {
  display: inherit;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 38px;
  left: -10px;
}
nav ul ul li {
  min-width: 140px;
  padding: 9px 12px;
  text-align: left;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul li:last-child {
  padding-bottom: 12px;
}
.adminNav li {
  width: 21%;
}
/* ================================
		CONTENT 
=================================== */
/* ================================
		FOOTER 
=================================== */
footer {
  color: yellow;
}
