<section class="adminWrapper" ng-controller="home.admin.ctrl as admin">


	<ul>
		<li ng-repeat="navItem in nav">
			<p>{{ navItem.title }}</p>
			<input ng-model="navItem.url" ng-change="messages.$save(message)" />
			<button ng-click="nav.$remove(navItem)">delete</button>
			<button ng-click="nav.$save(navItem)">update</button>
		</li>
	</ul>

	<br>
	<h2>menu</h2>
	<ul>
		<li ng-repeat="navItem in nav">
			<a ng-if="navItem.url !== string" href="{{ navItem.url }}">{{ navItem.title }}</a>
			<a href="#" ng-if="navItem.url == string">{{ navItem.title }}</a>
			<ul ng-if="navItem.url == string">
				<li ng-repeat="(key, value) in navItem" ng-if="key !== 'title'">
					<a href="{{ value.url }}">{{ value.title }}</a>
				</li>
			</ul>
		</li>
	</ul>
	<br><br>
	<form ng-submit="addMenuItem()">
		<input ng-model="newNavTitle">
		<input ng-model="newNavUrl">
		<button type="submit">add message</button>
	</form>

	<br><br>
  	<a ng-click="logout()">logout</a>

  
</section>