<section class="adminWrapper" ng-controller="nav.admin.ctrl as nav" gutterContent>
	<h3>Navigation</h3>
	<br>
	<table class="feNavTbl">
		<tr ng-repeat="navItem in nav">
			<td>
				<table>
					<tr>
						<td>Title:</td>
						<td>
							<input ng-model="navItem.title" ng-change="messages.$save(message)" />
						</td>
					</tr>
					<tr>
						<td>Route:</td>
						<td>
							<input ng-model="navItem.url" ng-change="messages.$save(message)" />
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<button ng-click="nav.$remove(navItem)">delete</button><button ng-click="nav.$save(navItem)">update</button>
						</td>
					</tr>
				</table>	
			</td>
		</tr>
	</table>

	<br><br>
	<h4>Add Navigation item</h4>
	<form ng-submit="addMenuItem()">
		<table>
			<tr>
				<td>Title:</td>
				<td><input ng-model="newNavTitle"></td>
			</tr>
				<td>Route:</td>
				<td><input ng-model="newNavUrl"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><button type="submit">add</button></td>
			</tr>
		</table>
	</form>

	<br><br>
  	<a ng-click="logout()">logout</a>

  
</section>