/* ================================
		NAV 
=================================== */
nav {
    background-color				: @black;
    text-transform 					: uppercase;
    font-family 					: 'Ubuntu Condensed', sans-serif;
}
 
nav:after {
    content							: "";
    display 						: table;
    clear 							: both;
}
 
nav ul {
    padding 						: 0;
    margin 							: 0 auto;
    list-style 						: none;
    position 						: relative;
    display 						: table;
    width 							: 100%;
    text-align 						: center;
}
 
nav ul li {
    margin 							: 0px;
    background-color 				: @black;
    display 						: table-cell;
    width 							: 15%;
    padding 						: 0.65em 0.125em;
    white-space 					: nowrap;
}
 
nav a {
    display 						: block;
    color 							: @white;
    font-size 						: 16px;
    text-decoration 				: none;
}
 
nav a:hover {
    background-color 				: #000000;
}

nav ul ul {
    display 						: none;
    position 						: absolute;
    top 							: 60px;
}
 
nav ul li:hover > ul {
    display 						: inherit;
}
 
nav ul ul li {
    min-width						: 170px;
    float							: none;
    display							: list-item;
    position 						: relative;
}